.git
.github
.codex
.agents
.DS_Store
.idea
.vscode
.history

build
bin
site
target
tests/*.txt

.env
.env.example
.config.example
config.json
config.example*.json
keys
*.key
*.block
gethdata1
gethdata2
centrifuge-chain
